<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super mock - Home</title>
    <link rel="stylesheet" href="/v1/css/mock.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="bg-gray-900 px-5 text-white">
<button class="fixed top-5 left-5" onclick="history.back()" title="Go back">
    <span class="material-icons">arrow_back</span>
</button>

<%- include('header') %>

<%- include('cart-status', {username, cart}) %>

<div class="flex justify-center mx-4 md:mx-8 xl:mx-16 py-5 gap-3">
    <img src="<%- album.cover %>" alt="<%= album.title %>">
    <div class="flex flex-col h-full gap-3 items-start">
        <p class="text-3xl"><%= album.title %></p>
        <p class="text-xl">by <span class="font-bold"><%= album.artist.name %></span></p>
        <div title="# tracks" class="flex justify-center gap-1">
            <span class="material-icons">music_note</span>
            <span><%= album.tracks.length %></span>
        </div>
        <a target="_blank" href="<%- album.link %>" title="<%= album.title %> on Deezer" class="flex gap-2 items-center">
            <img src="/v1/img/deezer.min.webp" alt="" class="w-8 h-8">
            <span class="link">Deezer</span>
        </a>
    </div>
</div>
<p class="text-2xl py-3 px-5">Tracks in <span class="font-bold"><%= album.title %></span></p>
<div class="grid grid-cols-1 gap-4 md:gap-8 justify-center items-start align-top py-5 mx-4 md:mx-8 xl:mx-16">
    <% album.tracks.forEach(track => { %>
        <div class="flex gap-3 items-end">
            <div class="flex-grow">
                <p class="w-full mb-2"><%= track.title %></p>
                <p>$<%= track.price %> USD</p>
                <audio class="w-full" src="/v1<%= track.preview %>" controls></audio>
            </div>
            <a target="_blank" href="/v1<%= track.link %>" title="Listen to <%= track.title %> on Deezer">
                <img src="/v1/img/deezer.min.webp" alt="Deezer" class="w-8 h-8">
            </a>
            <button onclick="addTrack2Cart(<%= track.id %>, this)"
                    class="enabled:active:scale-90 transition-transform <%- cartMap.tracks[track.id] ? 'opacity-50' : ''%>"
                    title="<%- cartMap.tracks[track.id] ? 'Already in your cart' : '' %>"
                    <%- cartMap.tracks[track.id] ? "disabled" : "" %>>
                <span class="material-icons">add_shopping_cart</span>
            </button>
        </div>
    <% }); %>
</div>

<script src="/v1/js/cart.js" defer></script>
</body>
</html>
