<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super mock - Home</title>
    <link rel="stylesheet" href="/v1/css/mock.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="bg-gray-900 px-5 text-white">
<%- include('header') %>
<button class="fixed top-5 left-5" onclick="history.back()" title="Go back">
    <span class="material-icons">arrow_back</span>
</button>

<div class="px-5 my-5">
    <p class="font-bold text-xl"><%= username %>,</p>
    <% if (!locals.cart || Object.keys(cart).length === 0) { %>
        <p>You don't have any tracks in your cart</p>
        <p>To add a track to your cart you can select any artist you like, then select an album, and then add any track you like to your cart</p>
        <p>Go check all the <a href="/v1/" class="link">artists</a> we have</p>
    <% } else { %>
        <p class="mb-5 text-lg">These are the tracks you've added to your cart</p>
        <div class="flex flex-col gap-6">
            <% Object.keys(cart).forEach(artist => { %>
                <div>
                    <p class="text-2xl"><%= artist %></p>
                    <div class="pl-4 my-2">
                    <% Object.keys(cart[artist]).forEach(album => { %>
                        <p class="text-xl"><%= album %></p>
                        <div class="pl-4 my-2">
                        <% cart[artist][album].forEach(track => { %>
                            <div class="flex gap-3 items-end my-2">
                                <div class="flex-grow">
                                    <p class="w-full mb-2"><%= track.title %></p>
                                    <p>$<%= track.price %> USD</p>
                                    <audio class="w-full" src="<%= track.preview %>" controls></audio>
                                </div>
                                <a target="_blank" href="<%= track.link %>" title="Listen to <%= track.title %> on Deezer">
                                    <img src="/v1/img/deezer.min.webp" alt="Deezer" class="w-8 h-8">
                                </a>
                            </div>
                        <% }); %>
                        </div>
                    <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
    <p class="my-5"><span class="text-xl">Total</span>: $<span class="text-2xl"><%- total %></span> USD</p>
    <div class="w-full flex justify-center my-5">
        <button class="text-white bg-green-700 hover:bg-green-900 rounded-md px-3 py-2 mx-auto transition-colors" onclick="alert('TODO. Not implemented yet')">Proceed to checkout</button>
    </div>
</div>

<script src="/v1/js/home.js" defer></script>
</body>
</html>
