<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super mock - Home</title>
  <link rel="stylesheet" href="/css/mock.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="bg-gray-900 px-5 text-white">
  <%- include('header') %>

  <div class="px-5">
    <p class="text-xl">Welcome <span class="font-bold"><%= username %></span> (<%= lastName %>, <%= firstName %>)</p>
<!--    <p>You can add any particular album or song you like to your cart</p>-->
  </div>

  <%- include('cart-status', {username}) %>

  <div class="flex justify-around flex-wrap gap-4 md:gap-8 pt-5">
    <% if (!artists.length) { %>
    <div class="text-center flex flex-col gap-3">
      <p>It seems there are no artists registered!</p>
      <p>Want to initialize the database?</p>
      <div>
        <button onclick="initDB()" class="btn-primary">Initialize DB</button>
      </div>
    </div>
    <% } %>
    <% artists.forEach(artist => { %>
      <%- include('artist-card', {artist: artist}); %>
    <% }); %>
  </div>

  <script src="/js/home.js"></script>
</body>
</html>
